<link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>">

<div id="chatbox-container" class="large">

    <i class="fas fa-2x fa-minus-circle"></i>

    <div id="chat-messages-container">
        <ul id="chat-messages-list">

        </ul>
        <div id="typing-status"></div>
    </div>

    <form action="" method="post" id="send-message-form">
        <input type="text" name="Message" id="Message" placeholder="Type message here">
        <input type="submit" value="Send">
    </form>

</div>