<footer>
    
    <div>
        <span>© Coding Ninjas</span>&nbsp; &nbsp;
        <span>All Rights Reserved</span>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <% if(locals.user){ %>
            <li><a href="/users/profile/<%= user._id %>">Profile</a></li>
        <% } %>
    </ul>


</footer>