<footer>
    
    <div>
        <span>Made by Charmi </span>
        <span style="color:black">&#10084;</span>
        
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <% if(locals.user){ %>
            <li><a href="/users/profile/<%= user._id %>">Profile</a></li>
        <% } %>
    </ul>


</footer>