<h1></h1>
<form action="/forgotPassword/resetLink" method="post">
    <input type="email" name="Email" id="Email" placeholder="Enter your email" required>
    <button type="submit">Submit</button>
</form>