<h1></h1>
<form action="/forgotPassword/resetLink/update" method="post">

    <div class="p">
        <input type="password" name="Password" id="Password" required  placeholder="Your password" style="font-family:Arial, FontAwesome" />
        <i class="fas fa-eye-slash"></i>
        <i class="fas fa-eye"></i>
    </div>


    <br><br>
    <div class="p">
        <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm your password" required>
        <i class="fas fa-eye-slash"></i>
        <i class="fas fa-eye"></i>
    </div>
    <br><br>

    <input type="hidden" name="accessId" id="accessId" value=<%=accessId %>>
    <button type="submit">Update</button>
</form>

